{{#if error}}

<p>{{error}}</p>

{{/if}}

<p>We have sent you a verification code to your mobile number</p>

<form action="/step3" method="POST">
    <input type="hidden" name="id" value="{{id}}">
    <input type="text" name="token">
    <input type="submit" value="Check code">
</form>